/*.d
/*.p1
/*.pre
/funclist
/*.as
/*.cmf
/*.cof
/*.hex
/*.hxl
/*.lst
/*.map
/*.obj
/*.rlf
/*.sdb
/*.sym
/*.mcl
/*.cp

/*.ini

/main.asm
/motor.asm
/nuts_bolts.asm
/protocol.asm
/serial.asm
/settings.asm
/stepper.asm
/system.asm

/grbl-pic.mcs
/lasercat-pic.bmk
/lasercat-pic.brk
/lasercat-pic.cfg
/lasercat-pic.dbg
/lasercat-pic.dct
/lasercat-pic.dlt
/lasercat-pic.log
/lasercat-pic.mcppi_callertable.txt
/lasercat-pic.user.dic
